# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.{ps1,psm1,psd1}]
end_of_line = crlf
indent_size = 4
trim_trailing_whitespace = true

[*.{ps1xml,props,xml,yaml}]
end_of_line = crlf
indent_size = 2
